<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Memory Keeper" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
      <strong><a href="/">Memory Keeper</a></strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <% if current_user %>
              <% if current_user.name && current_user.name != "" %>
                <li>Hello, <%= current_user.name %></li>
              <% else %>
                <li>Hello, <%= current_user.email %></li>
              <% end %>
              <% if Day.find_by(date: Date.today, user: current_user) %>
                <li><%= link_to "TODAY", day_path(Day.find_by(date: Date.today, user: current_user)), class: "today-button" %></li>
              <% else %>
                <li> <%= link_to "TODAY", days_path(day: { date: Date.today }), method: :post, class: "today-button" %> </li>
              <% end %>
              <li>
                <div id="calendar">
                  <input type="hidden" id="current-user-id" value="<%= current_user.id %>" />
                </div>
              </li>
            <% end %>

            <% if user_signed_in? %>
              <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "ACCOUNT SETTINGS", edit_user_registration_path, method: :get %></li>
              <li>
                <ul class="dropdown menu" data-dropdown-menu>
                  <li>
                    <a href="#">MORE</a>
                    <ul class="menu vertical">
                      <li><%= link_to "All Memories", memories_path %></li>
                      <li>All Links</li>
                      <li>All Photos</li>
                    </ul>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><a href="/users/sign_up">SIGN UP</a></li>
              <li><a href="/users/auth/fitbit">SIGN IN WITH FITBIT</a></li>
              <li><a href="/users/sign_in">LOG IN</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <%= value %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
